*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  font-size: 10px;
  --font-size: 1.4rem;
  --accent-color: hsl(216, 98%, 52%);
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: var(--font-size);
  max-width: 60rem;
  margin: auto;
  text-align: center;
}

input {
  padding: 0.5rem 1rem;
}

textarea {
  width: 100%;
}

button {
  background-color: var(--accent-color);
  border-color: white;
  color: white;
  padding: 0.5rem 1.6rem;
}

.icon {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
}

.hidden {
  display: none !important;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.well {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 20px;
  padding: 19px;
  background-color: hsl(0, 0%, 96%);
  border: 1px solid hsl(0, 0%, 89%);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.05);
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.05);
}

#tasksList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 1.6rem;
  font-weight: 600;
  font-size: 1.8rem;
  justify-content: center;
  color: rgba(51, 51, 51, 0.5);
}

#tasksList div {
  padding: 0 0.8rem;
}

#tasks {
  display: flex;
  flex-flow: row wrap;
  font-size: rem;
}

#task {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 2.2em;
}

.task-desc {
  margin-top: 4px;
  color: hsl(0, 45%, 45%);
}

.task-split {
  font-size: 1rem;
}

.link {
  color: hsl(0, 0%, 50%);
  padding-right: 10px;
  padding: 0 3px;
  cursor: pointer;
}

#selectDate {
  width: 10rem;
}

#lsData {
  padding: 1rem;
}

#newTaskName {
  width: 100%;
}

.logs {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.log {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid rgb(232, 232, 232);
  width: 100%;
  padding: 0.5rem 0;
}

.log-comment {
  white-space: pre;
  color: hsla(0, 0%, 20%, 0.5);
}

.log-empty {
  color: hsl(0, 97%, 30%);
}

.delta-last {
  margin-bottom: 1rem;
}

.log-delta {
  color: hsl(0, 0%, 80%);
  margin-bottom: 6px;
}

.show-LS-dialog {
  margin: 20px;
  color: hsl(0, 0%, 80%);
  font-size: 1.4rem;
  font-style: italic;
}

.invalid {
  background-color: hsl(0, 100%, 90%);
}
/*
-----------------------------------------------
Style for the modals
-----------------------------------------------
*/

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-bg {
  position: absolute;
  background: hsl(0, 0%, 75%);
  width: 100%;
  height: 100%;
}

.modal-container {
  border-radius: 10px;
  background: hsl(0, 0%, 100%);
  position: relative;
  padding: 30px;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  appearance: none;
  color: hsl(0, 100%, 45%);
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

.modal-exit {
  padding: 0;
  margin: 0;
}

.modal-container.modal-sm {
  width: 275px;
}

.modal-container.modal-md {
  width: 350px;
}

.modal-container.modal-lg {
  width: 400px;
}

.modal-title {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.6em;
}

.modal-subtitle {
  font-weight: bold;
  font-size: 1.6rem;
}

.modal-button-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 1rem 0;
}

.modal-button-group button {
  width: 12rem;
}
